{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "block-opening-brace-space-before": null,
    "selector-max-id": 3,
    "rule-empty-line-before": null,
    "max-nesting-depth": 3,
  }
}